body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centered {
  margin: auto !important;
  max-width: 400px;
  padding: 10px;
}

.mainContainer {
  width: 100%;
}

.oneRow {
  display:inline-block !important;
}

a.grey-link {
  color:darkslategray !important;
}

a {
  text-decoration: none !important;
}

.center-vertical {
  position: relative;
  bottom: 10px ;
  padding: 10px;
}

.com-wrapper { 
  margin: 20px !important;
}

.items-card {
  padding-top: 50px;
}